.home-container {
  // position: absolute;
  // height: calc(100vh - 80px - 64px);
  // height: 500px;
  width: 100%;
}

.header {
  // position: absolute;
  // top: 0;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}

.header>img {
  height: 40px;
  padding: 16px;
}

.parent {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
