.home-container {
  position: absolute;
  bottom: 80px;
  top: 0;
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}

.header>img {
  height: 40px;
  padding: 16px;
}
