<footer>
  <div class="col-xs-3">
    <div class="row">
      <div class="footer-icon">
        <button mat-button color="accent" (click)="routing('/home/basic-otp')" [ngClass]="{'active': currentUrl === '/home/basic-otp'}">
          <mat-icon>lock_open</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="row">
      <div class="footer-icon">
        <button mat-button color="accent" (click)="routing('/home/advance-otp')" [ngClass]="{'active': currentUrl === '/home/advance-otp'}">
          <mat-icon>swap_horiz</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="row">
      <div class="footer-icon">
        <button mat-button color="accent">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="row">
      <div class="footer-icon">
        <button mat-button color="accent" (click)="routing('/guest/register')">
          <mat-icon>help_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
</footer>
